body {
    font-family: Arial, sans-serif;
    background-color: #064454;
    padding: 0px;
    margin: 0;

    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.section-home {
    display: flex;
    align-items: center;
}

#section-01 {
    display: flex;
    align-items: start;
    color: white;
    font-size: 20px;
    width: 35%;
    margin-right: 10px;
}

#section-01 h1 {
    font-weight: bold;
    
}
#section-01 div p {
    margin-top: 40px;
}

#section-01 div {
    margin-left: 30px;
}

#section-01 button {
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 20px 10px;
    padding: 15px 45px;
    color: white;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
    transition: transform 0.5s ease;
    transition-delay: 0.1s;
}

#section-01 button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#section-02 {
    width: 100%;
}

#section-02 #Caminha-img{
    width: 100%;
    height: 350px;
}