<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoadExpress</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <div class="container">
        <section class="section-home" id="section-01">
            <div>
                <h1>Corredor Logístico<br>da LoadExpress</h1>
                <p>Da remoção no porto, <br> até a nacionalização <br> na Libraport</p>
                <button id="saberMaisBtn">Saber mais</button>
            </div>
        </section>
        <section class="section-home" id="section-02">
            <img id="Caminha-img" alt="Foto caminhao" src="../img/Bannder-Site-5-1536x534.png">
        </section>
    </div>

</body>
    <script src="/script/BtnSaibaMais.js"></script>
</html>